@tailwind base;
@tailwind components;
@tailwind utilities;

/*! convert this styling to tailwind css */
.box-shadow {
  box-shadow: 0px 1px 84px rgba(20, 22, 24, 0.15);
}

html,
body,
#__next {
  width: 100%;
  min-height: 100vh;
}

input {
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

textarea {
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

textarea:focus {
  border: 1px solid #42864f;
}

input:focus {
  border: 1px solid #42864f;
}

.new_input {
  box-sizing: border-box !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
  outline: none !important;
  border: none !important;
}

.new_input:focus {
  box-shadow: none !important;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.par:hover .arrow {
  transform: scale(1.5);
}

.car {
  transition: transform 0.3s ease-in-out;
}

.pare:hover .car {
  transform: scale(1.2);
}

/* Chrome, Safari, and Opera */
.no_scroller::-webkit-scrollbar {
  width: 0;
  border-radius: 8px;
  background-color: transparent;
}

.no_scroller::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="datetime-local"],
input[type="time"],
input[type="date"] {
  -webkit-appearance: none;
}

.drop-file-input {
  position: relative;
  padding: 30px 30px;
  border: 1px solid #d4d6d8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.rmdp-container {
  width: 100% !important;
}
.rmdp-day span {
  border-radius: 4px !important;
  font-size: 13px !important;
}
.rmdp-day.rmdp-today span {
  background-color: #d4d6d8 !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #ee383a !important;
  box-shadow: none !important;
}
.rmdp-day span:hover {
  background-color: #f9d0cd !important;
  box-shadow: none !important;
}
.rmdp-arrow {
  border-color: #000 !important;
}
.rmdp-arrow-container:hover {
  background-color: #f9d0cd !important;
}
.rmdp-week-day {
  color: #000 !important;
  font-weight: normal !important;
}
.rmdp-header-values {
  font-weight: 500 !important;
}
.rmdp-input {
  border: 1px solid #e4e4e4 !important;
  border-radius: 8px !important;
  width: 100% !important;
  font-size: 14px !important;
  color: #000;
  cursor: pointer;
  padding: 16px !important;
  height: 48px !important;
}
.signup-date .rmdp-input {
  border: 1px solid #c4c6c8 !important;
  border-radius: 8px !important;
  width: 100% !important;
  font-size: 14px !important;
  color: #000;
  cursor: pointer;
  padding: 16px !important;
  height: 44px !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.toast {
  animation: toast-line 5s ease infinite;
  background: var(--toast-background);
  height: 3px;
  width: 0%;
}

@keyframes toast-line {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.no-wrap {
  white-space: nowrap;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
